/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


p{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}

.container{
    position: relative;
    width: 500px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    background-color:rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    

    
}
.container-search{
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.container-search p{
    margin-left: 10px;
    cursor: default;
}

.container-search input{
    position: absolute;
    border: 1px solid rgb(54, 50, 50);
    width:80%;
    height: 100%;
    border-radius: 5px;
    font-size: x-large;
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-transform: lowercase;
    outline: none;
    background-color: transparent;
    padding: 0px 48px 0px 42px;

}

.container-search input::placeholder{
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.container-search button{
    position: absolute;
    right: 0;
    width: 48px;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;

}

.container-wheather{
    padding: 20px;
    margin-bottom: -30px;
}

.wheather-info{
    display: flex;
    flex-direction: column;
    align-items: center;


}
.wheather-info-image img{
    width: 250px;
    
}

.wheather-info-description p{
    font-weight: 700;
    font-size: xx-large;
    text-align: center;

}
.Number{
    font-size: 80px;
    font-weight: bold;
}
.city{
    font-weight: bold;
    font-size: 50px;
    color:rgb(0, 0, 0);
}

.container-bottom{
    margin-top: 50px;
}
.container-wind-info-humidtiy{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}
.wind-icon{
    width: 60px;
}
.wind,
.humidtiy{
    font-size: x-large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-wind{
    margin-right: 25px;
}

.container-mid{
    display: none;
    
}
/*====================================== */



@media (max-width: 600.98px) {
    .container{
        width: 480px;
    }
    .container-search input{
        width: 75%;
    }
    .Search-btn{
        margin-right: 30px;
    }
}


@media (max-width: 555.98px) {
    .Search-btn{
        margin-right: 5px;
    }
    .container{
        width: 400px;
    }
    .about-wind{
        font-size: small;
    }
    .city {
        font-size: xx-large;
    }
    .Number{
        font-size: xxx-large;
    }
}

@media (max-width: 476px) {
    .container{
        width: 400px;
    }
 
}



@media (max-width: 390px) {
    .container{
        width: 300px;
    }
    .container-search input{
        width: 65%;
        font-size: medium;
    }
    .about-wind{
        font-size: xx-small;
    }
}

@media (max-width: 290px) {
    .container{
        width: 220px;
    }
    .wheather-info-image img{
        width: 100px;
    }
    .city {
        font-size: large;
    }
    .Number{
        font-size: xx-large;
    }
    .about-wind{
        font-size: 9px;
    }
    .container-search input{
        width: 55%;
        font-size: small;
    }
    .wind-icon{
        width: 20px;
    }
}


