/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


p{
    margin: 0;
    padding: 0;
    
}


.main{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
 
    
}

.container-app{
    position: relative;
    width: 500px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    background-color:rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    

    
}
.container-search{
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.container-search p{

    margin-left: 7px;
    cursor: default;
    margin-top: 14px;
 
}
.map-image{
    width: 25px;
    margin-top: 2px;
}

.container-search input{
    position: absolute;
    border: 1px solid rgb(54, 50, 50);
    width:100%;
    height: 100%;
    border-radius: 5px;
    font-size: x-large;
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-transform: lowercase;
    outline: none;
    background-color: transparent;
    padding: 0px 48px 0px 42px;
    

}

.container-search input::placeholder{
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.container-search button{
    position: absolute;
    right: 0;
    width: 48px;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;

}

.container-wheather{
    padding: 20px;
    margin-bottom: -30px;
}

.wheather-info{
    display: flex;
    flex-direction: column;
    align-items: center;


}
.wheather-info-image img{
    width: 328px;
    margin-left: -51px;
}
    


.wheather-info-description p{
    font-weight: 700;
    font-size: xx-large;
    text-align: center;

}
.Number{
    font-size: 80px;
    font-weight: bold;
}
.city{
    font-weight: bold;
    font-size: 50px;
    margin-left: -30px;
    color:rgb(0, 0, 0);
    margin-left: -19px;
}

.container-bottom{
    margin-top: 50px;
}
.container-wind-info-humidtiy{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}
.wind-icon{
    width: 70px;
}
.wind,
.humidtiy{
    font-size: x-large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-wind{
    margin-right: 25px;
}

.container-mid{
    display: none;
    
}


.container-time-date{
    margin-top: 20px;
    width: 500px;
    height: 250px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    gap: 6px;
}
.container-time{
    flex: 1;
    border-radius: 20px;
    background-color:rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    padding: 20px;
}
.container-date{
    flex: 1;
    border-radius: 20px;
    background-color:rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    padding: 20px;
}

.container-country{
    margin-top: 20px;
    width: 500px;
    height: unset;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    
}
.container-contry-name{
    flex: 1;
    border-radius: 20px;
    background-color:rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    padding: 20px;
}

.container-country-{
    margin-top: 20px;
    width: 500px;
    height: 360px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    gap: 9px;
}

.box{
    flex: 1;
    height: unset;
    border-radius: 20px;
    background-color:rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    padding: 30px;
}

.box2{
    flex: 1;
    border-radius: 20px;
    height: 200px;
    background-color:rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    padding: 30px;
}

.container-country_{
    margin-top: 20px;
    width: 500px;
    height: 200px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 9px;
    
}
.box3{
    flex: 1;
    border-radius: 20px;
    height: 230px;
    width: 230px;
    background-color:rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
}
.box4{
    flex: 1;
    border-radius: 20px;
    height: 200px;
    background-color:rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
}

.content{
    /* display: none; */
}

.prediction{
    border-radius: 20px;
    background-color:rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    padding: 25px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 450px;
    height: 200px;
    justify-content: space-around;
    align-items: center;

}

.container-prediction{
    margin-top: 20px;
    width: unset;
    height: unset;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 9px;
}


.footer{
    border-radius: 5px;
    background-color:rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1px);
}